table {
	border: 1px solid black;
	margin: 5% auto;
	padding: 10px;
	font-size: 1.5rem;
}
.close {
	position: absolute;
	top: 8px;
	right: 0px;
}
.pending {
	color: red;
}
.done {
	color: green;
}
/* .lists {
	margin: 1% 46%;
} */

.item {
	border: 1px solid wheat;
	background-color: rgb(238, 205, 164);
	margin: 2% 15%;
	border-radius: 20px;
}
.addTodo {
	padding: 1%;
	background: #d4cfed;
	border: 1px solid #aba69e;
	margin: 2%;
}
.comp {
	margin: 1% 46%;
	text-decoration: line-through;
}
.ncomp {
	margin: 1% 46%;
	color: red;
}
